@col_bord_1: #717071;
@col_bord_2: #ebeaeb;
@font-face{
    font-family: "Sylfaen Regular";
    src: url("../../components/fonts/Sylfaen/Sylfaen_Regular.ttf");
}

html body{
    font-family: "Sylfaen Regular";
  }
.main_window{
    background-color: black;
    width: 1025px;
    height: 769px;
}
.container{
    width: 795px;
    height: 600px;
    border-top: 5px solid @col_bord_2;
    border-right:  5px solid @col_bord_1;
    border-bottom: 5px solid @col_bord_2;
    border-left: 5px solid @col_bord_1;
    border-radius:2px;
    float: left;
}
.result{
    margin-left: 5px;
    width: 215px;
    height: 610px;
    float: left;
    .res_top{
        width: 205px;
        height: 42px;
        background-color: black;
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom, #4C4B4A 5%, #3B3B3A 10%, 
        #50504F 20%, #2E2D2C 32%, #FFFFFF 59%, #0D0D0D 77%, #ABABAB 100%);
        border-image-slice: 1;
    }
    .res_logo{
        width: 215px;
        height: 40px;
        background-color: #212421;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 35px;
            height: 20px;
            fill: white;
        }
        p{
            color: white;
            margin: 0;
            margin-left: 4px;
        }
    }
    .res_btm{
        width: 205px;
        height: 508px;
        border-top: 5px solid @col_bord_2;
        border-right:  5px solid @col_bord_1;
        border-bottom: 5px solid @col_bord_2;
        border-left: 5px solid @col_bord_1;
        border-radius:2px;
        .res_btm_cart{
            width: 100%;
            height: 170px;
            position: relative;
            img{
                width: 100%;
                height: 170px;
            }
            .res_buy{
                position: absolute;
                z-index: 2;
                width: 95px;
                height: 36px;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 3px;
                bottom: 10px;
                left: 5px;
            }
            .res_mode{
                position: absolute;
                z-index: 2;
                width: 95px;
                height: 36px;
                background-color: rgba(0, 0, 0, 0.6);
                border-radius: 3px;
                bottom: 10px;
                right: 5px;
            }
            p{
                margin: 0;
                margin-top: 2px;
                color: white;
                font-size: 12px;
                text-align: center;
            }
        }
        .res_btm_border1{
            width: 100%;
            height: 10px;
            background: linear-gradient(to bottom, @col_bord_1 0%, @col_bord_2 50%, @col_bord_1 100%);
        }
        .res_btm_border2{
            width: 100%;
            height: 7px;
            background: linear-gradient(to bottom, @col_bord_1 0%, @col_bord_2 50%, @col_bord_1 100%);
        }
        .res_btm_info{
            height: 43px;
            background-color: black;
            text-align: center;
            table{
                width: 100%;
                td{
                    width: 50%;
                    p{
                        display: inline;
                        margin: 0;
                        color: #737dc6;
                        font-size: 14px;
                        text-align: center;
                    }
                }
            }
  
        }
        .res_btm_tabl{
            height: 220px;
            table{
                width: 205px;
                height: 220px;
                border-collapse: collapse;
                td{
                    width: 103px;
                    height: 16px;
                    border-top: 2px solid @col_bord_1;
                    border-right: 2px solid @col_bord_1;
                    p{
                        margin: 0;
                        color: #737dc6;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                
            }
        }
        .res_btm_btn{
            width: 100%;
            height: 51px;
            background-color: #212421;
            display: flex;
            justify-content: center;
            align-items: center;
            .res_btn_l{
                width: 65px;
                height: 36px;
                .btn_left_b{
                    margin-top: 2px;
                    display: none;
                }
            }
            .res_btn_l:active{
                .btn_left_a{display: none;}
                .btn_left_b{
                    display: inline;
                }
            }
            .res_btn_page{
                margin-top: 2px;
                width: 69px;
                height: 34px;
                background-color: black;
                border: 1px solid white;
                border-radius: 4px;
                p{
                    color: yellow;
                    margin: 0;
                    margin-top: 5px;
                    text-align: center;
                }
            }
            .res_btn_r{
                width: 65px;
                height: 36px;
                .btn_right_b{
                    margin-top: 2px;
                    display: none;
                }
            }
            .res_btn_r:active{
                .btn_right_a{display: none;}
                .btn_right_b{display: inline;}
            }
        }
    }
}
.footer{
    width: 1015px;
    height: 147px;
    margin: 5px;
    clear: both;
    .ftr_top{
        padding-top: 5px;
        width: 1015px;
        height: 103px;
        position: relative;
        .panel{
            z-index: 1;
            width: 100%;
            height: 105px;
            position: absolute;
        }
        .btn_menu{
            z-index: 2;
            width: 102px;
            height: 51px;
            left: 33px;
            top: 37px;
            position: absolute;
            .btn_menu_b{
                margin-top: 2px;
                margin-left: 4px;
                display: none;
            }
        }
        .btn_menu:active{
            .btn_menu_a{display: none;}
            .btn_menu_b{display: inline;}
        }
        .btn_dealauto{
            z-index: 2;
            width: 100px;
            height: 51px;
            left: 137px;
            top: 37px;
            position: absolute;
            .btn_dealauto_b{
                margin-top: 3px;
                margin-left: 2px;
                display: none;
            }
        }
        .btn_dealauto:active{
            .btn_dealauto_a{display: none;}
            .btn_dealauto_b{display: inline;}
        }
        .btn_index_1{
            z-index: 2;
            width: 74px; 
            height: 89px;
            left: 267px;
            top: 14px;
            position: absolute;
            .btn_index_1b{
                display: none;
            }
        }
        .btn_index_1:active{
            .btn_index_1a{display: none;}
            .btn_index_1b{display: inline;}
        }
        .btn_index_3{
            z-index: 2;
            width: 67px;
            height: 88px;
            left: 350px;
            top: 14px;
            position: absolute;
            .btn_index_3b{
                display: none;
            }
        }
        .btn_index_3:active{
            .btn_index_3a{display: none;}
            .btn_index_3b{display: inline;}
        }
        .btn_index_5{
            z-index: 2;
            width: 64px;
            height: 88px;
            left: 432px;
            top: 14px;
            position: absolute;
            .btn_index_5a{
                width: 64px;
                height: 88px;
            }
            .btn_index_5b{
                display: none;
                width: 64px;
                height: 88px;
            }
        }
        .btn_index_5:active{
            .btn_index_5a{display: none;}
            .btn_index_5b{display: inline;}
        }
        .btn_index_7{
            z-index: 2;
            width: 66px;
            height: 88px;
            left: 511px;
            top: 14px;
            position: absolute;
            .btn_index_7a{
                width: 66px;
                height: 88px;
            }
            .btn_index_7b{
                width: 66px;
                height: 88px;
                display: none;
            }
        }
        .btn_index_7:active{
            .btn_index_7a{display: none;}
            .btn_index_7b{display: inline;}
        }
        .btn_index_9{
            z-index: 2;
            width: 72px; 
            height: 89px;
            left: 586px;
            top: 14px;
            position: absolute;
            .btn_index_9b{
                display: none;
            }
        }
        .btn_index_9:active{
            .btn_index_9a{display: none;}
            .btn_index_9b{display: inline;}
        }
        .btn_treshold{
            z-index: 2;
            width: 94px;
            height: 51px;
            right: 252px;
            top: 37px;
            position: absolute;
            .btn_treshold_b{
                margin-top: 1px;
                margin-left: 1px;
                display: none;
            }
        }
        .btn_treshold:active{
            .btn_treshold_a{display: none;}
            .btn_treshold_b{display: inline;}
        }
        .btn_trade{
            z-index: 2;
            width: 96px;
            height: 51px;
            right: 146px;
            top: 37px;
            position: absolute;
            .btn_trade_a{}
            .btn_trade_b{

                margin-top: 1px;
                margin-left: 1px;
                display: none;
            }
        }
        .btn_trade:active{
            .btn_trade_a{display: none;}
            .btn_trade_b{display: inline;}
        }
        .btn_bonus{
            z-index: 2;
            width: 110px;
            height: 72px;
            right: 33px;
            top: 23px;
            position: absolute;
            background-image: url("../../components/images/Lobby4/buttons_before/L4_bonus_grey.png");
            animation: blinker .7s infinite; 
        }
        @keyframes blinker{
            0% { background-image: url("../../components/images/Lobby4/buttons_before/L4_bonus_grey.png");}
            0.001% { background-image: url("../../components/images/Lobby4/buttons_before/L4_bonus_red.png");} 
        }
        .btn_bonus:active{
            animation: none;
            background-image: url("../../components/images/Lobby4/buttons_active/L4_bonus_a.png");
        }
    }
    .ftr_btm{
        z-index: 1;
        width: 100%;
        height: 44px;
        background-color:#656564;
        position: relative; 
        .tbl_info{
            z-index: 2;
            position: absolute;
            width: 479px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            left: 25px;
            p {
                font-size: 10px;
                margin: 0px;
                color: yellow;
                text-align: center;
                margin-top: 0px;
            }
        }     
        .tbl_score{
            z-index: 2;
            position: absolute;
            width: 168px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            left: 592px;
            p {
                margin: 0px;
                color: yellow;
                text-align: right;
                margin-right: 7px;
                margin-top: 3px;
            }
        }      
        .tbl_deposit{
            z-index: 2;
            position: absolute;
            width: 74px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            left: 773px;
            p {
                margin: 0px;
                color: yellow;
                text-align: center;
                margin-top: 3px;
            }
        }
        .tbl_btn_minus{
            z-index: 2;
            position: absolute;
            bottom: 7px;
            right: 127px;
            width: 27px;
            height: 25px;
            .btn_minus_a{
                width: 27px;
                height: 25px;
            }
            .btn_minus_b{
                width: 27px;
                height: 25px;
                display: none;
            }
        }
        .tbl_btn_minus:active{
            .btn_minus_a{display: none;}
            .btn_minus_b{display: inline;}
        }
        .tbl_btn_info{
            z-index: 2;
            position: absolute;
            width: 73px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            right: 42px;
            p {
                margin: 0px;
                color: yellow;
                text-align: center;
                margin-top: 3px;
            }
        }
        .tbl_btn_plus{
            z-index: 2;
            position: absolute;
            bottom: 7px;
            right: 11px;
            width: 27px;
            height: 25px;
            .btn_plus_a{
                width: 27px;
                height: 25px;
            }
            .btn_plus_b{
                display: none;
                width: 27px;
                height: 25px;
            }
        }
        .tbl_btn_plus:active{
            .btn_plus_a{display: none;}
            .btn_plus_b{display: inline;}
        }
    }
}