doctype html
html
    <!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!-->
    <html lang="ru">
    <!--<![endif]-->
    head
    meta(charset='utf-8')
    meta(name='viewport',content='initial-scale=1.0, width=device-width')
    link(rel="shortcut icon" href="#")
    title Lobby4_game
    body
        .main_window
            .container
                
            .result
                .res_top
                .res_logo
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.66 18.72"><g><path d="M15,7H5.05L4.21,4.67h9.92Zm8.85,9.37H18.3l-.84-2.33h-5l.84,2.33h2.49l.82,2.29v0h8.8l0-.08h0l5-14H28ZM19.92,0l.84,2.34H24l-2.86,8L17.41,0H0L.84,2.34H15.76L20,14h2.31L26.44,2.34h7.38L34.66,0Zm-4.1,9.38H8.41l.84,2.34h7.41Z"/></g></svg>
                    p Векстрейд
                .res_btm
                    .res_btm_cart
                        img(src=require("../../components/images/Lobby4/cart.png"), alt="")
                        .res_buy
                            p КУПИТЬ <br> ВЕКСЕЛЬ
                        .res_mode
                            p ДЕЛОВОЙ <br> РЕЖИМ
                    .res_btm_border1
                    .res_btm_info
                        table
                                tr
                                    td
                                        p Покупа: 50 
                                    td
                                        p Продажа: 49
                    .res_btm_border2
                    .res_btm_tabl
                        table
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                    .res_btm_border2
                    .res_btm_btn
                        .res_btn_l
                            img.btn_left_a(src=require("../../components/images/Lobby4/buttons_before/L4_left.png"), alt="")
                            img.btn_left_b(src=require("../../components/images/Lobby4/buttons_active/L4_left_a.png"), alt="")
                        .res_btn_page
                            p 60
                        .res_btn_r
                            img.btn_right_a(src=require("../../components/images/Lobby4/buttons_before/L4_right.png"), alt="")
                            img.btn_right_b(src=require("../../components/images/Lobby4/buttons_active/L4_right_a.png"), alt="")
            .footer
                .ftr_top
                    img.panel(src=require("../../components/images/Lobby4/panel.png"), alt="")
                    .btn_menu
                        img.btn_menu_a(src=require("../../components/images/Lobby4/buttons_before/L4_menu.png"), alt="")
                        img.btn_menu_b(src=require("../../components/images/Lobby4/buttons_active/L4_menu_a.png"), alt="")
                    .btn_dealauto
                        img.btn_dealauto_a(src=require("../../components/images/Lobby4/buttons_before/L4_dealauto.png"), alt="")
                        img.btn_dealauto_b(src=require("../../components/images/Lobby4/buttons_active/L4_dealauto_a.png"), alt="")
                    .btn_index_1
                        img.btn_index_1a(src=require("../../components/images/Lobby4/buttons_before/L4_1.png"), alt="")
                        img.btn_index_1b(src=require("../../components/images/Lobby4/buttons_active/L4_1_a.png"), alt="")
                    .btn_index_3
                        img.btn_index_3a(src=require("../../components/images/Lobby4/buttons_before/L4_3.png"), alt="")
                        img.btn_index_3b(src=require("../../components/images/Lobby4/buttons_active/L4_3_a.png"), alt="")
                    .btn_index_5
                        img.btn_index_5a(src=require("../../components/images/Lobby4/buttons_before/L4_5.png"), alt="")
                        img.btn_index_5b(src=require("../../components/images/Lobby4/buttons_active/L4_5_a.png"), alt="")
                    .btn_index_7
                        img.btn_index_7a(src=require("../../components/images/Lobby4/buttons_before/L4_7.png"), alt="")
                        img.btn_index_7b(src=require("../../components/images/Lobby4/buttons_active/L4_7_a.png"), alt="")
                    .btn_index_9
                        img.btn_index_9a(src=require("../../components/images/Lobby4/buttons_before/L4_9.png"), alt="")
                        img.btn_index_9b(src=require("../../components/images/Lobby4/buttons_active/L4_9_a.png"), alt="")
                    .btn_treshold
                        img.btn_treshold_a(src=require("../../components/images/Lobby4/buttons_before/L4_treshold.png"), alt="")
                        img.btn_treshold_b(src=require("../../components/images/Lobby4/buttons_active/L4_treshold_a.png"), alt="")
                    .btn_trade
                        img.btn_trade_a(src=require("../../components/images/Lobby4/buttons_before/L4_trade.png"), alt="")
                        img.btn_trade_b(src=require("../../components/images/Lobby4/buttons_active/L4_trade_a.png"), alt="")
                    .btn_bonus
                .ftr_btm
                    .tbl_info
                        p Вы можете приобрести вексель <br> номиналом 60 руб. по цене 50 рублей
                    .tbl_score
                        p 0,00
                    .tbl_deposit
                        p 5000
                    .tbl_btn_minus
                        img.btn_minus_a(src=require("../../components/images/Lobby4/buttons_before/L4_-.png"), alt="")
                        img.btn_minus_b(src=require("../../components/images/Lobby4/buttons_active/L4_-_a.png"), alt="")
                    .tbl_btn_info
                        p 1
                    .tbl_btn_plus
                        img.btn_plus_a(src=require("../../components/images/Lobby4/buttons_before/L4_plus.png"), alt="")
                        img.btn_plus_b(src=require("../../components/images/Lobby4/buttons_active/L4_plus_a.png"), alt="")
                    

        
