@col_bord_1: #717071;
@col_bord_2: #ebeaeb;
@font-face{
    font-family: "Sylfaen Regular";
    src: url("../../components/fonts/Sylfaen/Sylfaen_Regular.ttf");
}

html body{
    font-family: "Sylfaen Regular";
  }
.main_window{
    background-color: black;
    width: 1025px;
    height: 769px;
}
.container{
    width: 795px;
    height: 600px;
    border-top: 5px solid @col_bord_2;
    border-right:  5px solid @col_bord_1;
    border-bottom: 5px solid @col_bord_2;
    border-left: 5px solid @col_bord_1;
    border-radius:2px;
    float: left;
}
.header{
    @mrgn_top_btn:53px;
    width: 100%;
    height: 150px;
    border-bottom: 5px solid @col_bord_1;
    background: linear-gradient(90deg, #303248, #366578);
    position: relative;
    
    .l_head_btn {
        margin-top: @mrgn_top_btn;
        left: 87px;
        width: 48px;
        height: 48px;
        border: 1px solid white;
        border-radius: 24px;
        position: absolute;
        background-color: rgba(0,0,0, 0.3);
        svg{
            margin-top: 14px;
            margin-left: 16px;
            width: 13px;
            height: 20px;
            fill: white;
        }
    }
    .l_head_btn:active{
        background-color: rgba(0,0,0, 0);
        border: 1px solid #A0A0A0;
        border-radius: 24px;
        svg{
            fill: #A0A0A0;
        }
    }
    .l_head{
        z-index: 1;
        position: absolute;
        left: 164px;
        top: 37px;
        opacity: 0.5;
        display: inline-block;
    }
    .c_head{
        z-index: 2;
        position: absolute;
        left: 315px;
        top: 19px;
        border: 2px solid white;
        border-radius: 1px;
    }
    .r_head{
        z-index: 1;
        position: absolute;
        left: 522px;
        top: 37px;
        opacity: 0.5;
        display: inline-block;
    }
    .choice_circle{
        top: 3px;
        left: 535px;
        z-index: 3;
        width: 35px;
        height: 35px;
        background-color: red;
        border-radius: 17px;
        position: absolute;

        }
    .r_head_btn{
        position: absolute;
        margin-top: @mrgn_top_btn;
        left: 721px;
        width: 48px;
        height: 48px;
        border: 1px solid white;
        border-radius: 24px;
        position: absolute;
        background-color: rgba(0,0,0, 0.3);
        svg{
            margin-top: 14px;
            margin-left: 19px;
            width: 13px;
            height: 20px;
            transform: scale(-1, 1);   
            fill:white;         
        }
    }
    .r_head_btn:active{
        background-color: rgba(0,0,0, 0);
        border: 1px solid #A0A0A0;
        border-radius: 24px;
        svg{
            fill: #A0A0A0;
        }
    }
}

.main{
    width: 100%;
    height: 445px;
    background: linear-gradient(90deg, #29245d, #009de1);
    position: relative;
    .main_btn{
        z-index: 1;
        width: 120px;
        display: inline-block;
        .top_btn{
            left: 50px;
            top: 48px;
            width: 57px;
            height: 72px;
            border: 2px solid white;
            border-radius: 5px;
            position: absolute;
            background-color: rgba(0,0,0, 0.3);
            svg{
                margin-top: 24px;
                margin-left: 24px;
                width: 10px;
                height: 20px;
                transform: rotate(90deg);  
                fill: white;
            }
        }
        .top_btn:active{
            background-color: rgba(0,0,0, 0);
            border: 2px solid #A0A0A0;
            border-radius: 5px;
            svg{
                fill: #A0A0A0;
            }
        }
        .btm_btn{
            width: 57px;
            height: 72px;
            border: 2px solid white;
            border-radius: 5px;
            position: absolute;
            left: 50px;
            bottom: 63px;
            background-color: rgba(0,0,0, 0.3);
            svg{
                margin-top: 28px;
                margin-left: 24px;
                width: 10px;
                height: 20px;
                transform: rotate(-90deg);    
                fill: white;             
            }
        }
        .btm_btn:active{
            background-color: rgba(0,0,0, 0);
            border: 2px solid #A0A0A0;
            border-radius: 5px;
            svg{
                fill: #A0A0A0;
            }
        }
    }
    .main_game{
        margin-left:34px;
        width: 100%;
        height: 445px;

        .top_game{
            margin-top: 17px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 167px;
                height: 95px;
            }
        }
        .center_game{
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 167px;
                height: 95px;
            }
        }
        .btm_game{
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            img{
                width: 167px;
                height: 95px;
            }
        }
        .game_2, .game_5, .game_8{
            margin-left: 17px;
            margin-right: 17px;
        }
    }

}
.result{
    margin-left: 5px;
    width: 215px;
    height: 610px;
    float: left;
    .res_top{
        width: 205px;
        height: 42px;
        background-color: black;
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom, #4C4B4A 5%, #3B3B3A 10%, 
        #50504F 20%, #2E2D2C 32%, #FFFFFF 59%, #0D0D0D 77%, #ABABAB 100%);
        border-image-slice: 1;
    }
    .res_logo{
        width: 215px;
        height: 40px;
        background-color: #212421;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 35px;
            height: 20px;
            fill: white;
        }
        p{
            color: white;
            margin: 0;
            margin-left: 4px;
        }
    }
    .res_btm{
        width: 205px;
        height: 508px;
        border-top: 5px solid @col_bord_2;
        border-right:  5px solid @col_bord_1;
        border-bottom: 5px solid @col_bord_2;
        border-left: 5px solid @col_bord_1;
        border-radius:2px;
        .res_btm_cart{
            width: 100%;
            height: 170px;
            img{
                width: 100%;
                height: 170px;
            }
        }
        .res_btm_border1{
            width: 100%;
            height: 10px;
            background: linear-gradient(to bottom, @col_bord_1 0%, @col_bord_2 50%, @col_bord_1 100%);
        }
        .res_btm_border2{
            width: 100%;
            height: 7px;
            background: linear-gradient(to bottom, @col_bord_1 0%, @col_bord_2 50%, @col_bord_1 100%);
        }
        .res_btm_info{
            height: 43px;
            background-color: black;
        }
        .res_btm_tabl{
            height: 220px;
            table{
                width: 205px;
                height: 220px;
                border-collapse: collapse;
                td{
                    width: 103px;
                    height: 16px;
                    border-top: 2px solid @col_bord_1;
                    border-right: 2px solid @col_bord_1;
                    p{
                        margin: 0;
                        color: #737dc6;
                        font-size: 14px;
                        text-align: center;
                    }
                }
                
            }
        }
        .res_btm_btn{
            width: 100%;
            height: 51px;
            background-color: #212421;
            display: flex;
            justify-content: center;
            align-items: center;
            .res_btn_l{
                width: 65px;
                height: 36px;
                .btn_left_b{
                    margin-top: 2px;
                    display: none;
                }
            }
            .res_btn_l:active{
                .btn_left_a{display: none;}
                .btn_left_b{
                    display: inline;
                }
            }
            .res_btn_page{
                margin-top: 2px;
                width: 69px;
                height: 34px;
                background-color: black;
                border: 1px solid white;
                border-radius: 4px;
                p{
                    color: yellow;
                    margin: 0;
                    margin-top: 5px;
                    text-align: center;
                }
            }
            .res_btn_r{
                width: 65px;
                height: 36px;
                .btn_right_b{
                    margin-top: 2px;
                    display: none;
                }
            }
            .res_btn_r:active{
                .btn_right_a{display: none;}
                .btn_right_b{display: inline;}
            }
        }
    }
}
.footer{
    width: 1015px;
    height: 147px;
    margin: 5px;
    clear: both;
    .ftr_top{
        padding-top: 5px;
        width: 1015px;
        height: 103px;
        position: relative;
        .panel{
            z-index: 1;
            width: 100%;
            height: 105px;
            position: absolute;
        }
        .btn_exit{
            z-index: 2;
            width: 102px;
            height: 51px;
            left: 36px;
            top: 37px;
            position: absolute;
            .btn_exit_b{
                display: none;
            }
        }
        .btn_exit:active{
            .btn_exit_a{display: none;}
            .btn_exit_b{display: inline;}
        }
        .btn_help{
            z-index: 2;
            width: 100px;
            height: 51px;
            left: 137px;
            top: 37px;
            position: absolute;
            .btn_help_b{
                display: none;
            }
        }
        .btn_help:active{
            .btn_help_a{display: none;}
            .btn_help_b{display: inline;}
        }
        .btn_bonus{
            z-index: 2;
            width: 110px;
            height: 72px;
            right: 33px;
            top: 23px;
            position: absolute;
            background-image: url("../../components/images/Lobby4/buttons_before/L4_bonus_grey.png");
            animation: blinker .7s infinite; 
        }
        @keyframes blinker{
            0% { background-image: url("../../components/images/Lobby4/buttons_before/L4_bonus_grey.png");}
            0.001% { background-image: url("../../components/images/Lobby4/buttons_before/L4_bonus_red.png");} 
        }
        .btn_bonus:active{
            animation: none;
            background-image: url("../../components/images/Lobby4/buttons_active/L4_bonus_a.png");
        }
        

    }
    .ftr_btm{
        z-index: 1;
        width: 100%;
        height: 44px;
        background-color:#656564;
        position: relative;
        
        .tbl_info{
            z-index: 2;
            position: absolute;
            width: 479px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            left: 25px;
            p {
                margin: 0px;
                color: yellow;
                text-align: center;
                margin-top: 3px;
            }
        }
                
        .tbl_score{
            z-index: 2;
            position: absolute;
            width: 168px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            left: 592px;
            p {
                margin: 0px;
                color: yellow;
                text-align: right;
                margin-right: 7px;
                margin-top: 3px;
            }
        }
                
        .tbl_deposit{
            z-index: 2;
            position: absolute;
            width: 74px;
            height: 26px;
            background-color: black;
            border-top: 3px solid white;
            border-left: 3px solid white;
            border-right: 3px solid white;
            border-radius: 4px 4px 0 0;
            bottom: 5px;
            left: 773px;
            p {
                margin: 0px;
                color: yellow;
                text-align: center;
                margin-top: 3px;
            }
        }
    }
}