doctype html
html
    <!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
    <!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
    <!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
    <!--[if gt IE 8]><!-->
    <html lang="ru">
    <!--<![endif]-->
    head
    meta(charset='utf-8')
    meta(name='viewport',content='initial-scale=1.0, width=device-width')
    link(rel="shortcut icon" href="#")
    title Lobby4
    body
        .main_window
            .container
                .header
                    .l_head_btn 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.69 17.51"><g><polygon points="9.61 0 1.19 7.67 0.01 8.74 0 8.76 1.19 9.84 9.61 17.51 10.69 16.33 2.38 8.75 10.69 1.18 9.61 0 9.61 0"/></g></svg>
                    img.l_head(src=require("../../components/images/Lobby4/header_left.png"), alt="")
                    img.c_head(src=require("../../components/images/Lobby4/header_center.png"), alt="")
                    img.r_head(src=require("../../components/images/Lobby4/header_right.png"), alt="")
                    .choice_circle
                    .r_head_btn
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.69 17.51"><g><polygon points="9.61 0 1.19 7.67 0.01 8.74 0 8.76 1.19 9.84 9.61 17.51 10.69 16.33 2.38 8.75 10.69 1.18 9.61 0 9.61 0"/></g></svg>
                .main
                    .main_btn
                        .top_btn
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.69 17.51"><g><polygon points="9.61 0 1.19 7.67 0.01 8.74 0 8.76 1.19 9.84 9.61 17.51 10.69 16.33 2.38 8.75 10.69 1.18 9.61 0 9.61 0"/></g></svg>
                        .btm_btn
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.69 17.51"><g><polygon points="9.61 0 1.19 7.67 0.01 8.74 0 8.76 1.19 9.84 9.61 17.51 10.69 16.33 2.38 8.75 10.69 1.18 9.61 0 9.61 0"/></g></svg>
                    .main_game
                        .top_game
                            a.game_1(href="#")
                                img(src=require("../../components/images/Lobby4/game_1.png"), alt="")
                            a.game_2(href="#")
                                img(src=require("../../components/images/Lobby4/game_2.png"), alt="")
                            a.game_3(href="#")
                                img(src=require("../../components/images/Lobby4/game_3.png"), alt="")
                        .center_game
                            a.game_4(href="#")
                                img(src=require("../../components/images/Lobby4/game_4.png"), alt="")
                            a.game_5(href="#")
                                img(src=require("../../components/images/Lobby4/game_5.png"), alt="")
                            a.game_6(href="#")
                                img(src=require("../../components/images/Lobby4/game_6.png"), alt="")
                        .btm_game
                            a.game_7(href="#")
                                img(src=require("../../components/images/Lobby4/game_7.png"), alt="")
                            a.game_8(href="#")
                                img(src=require("../../components/images/Lobby4/game_8.png"), alt="")
                            a.game_9(href="#")
                                img(src=require("../../components/images/Lobby4/game_9.png"), alt="")
            .result
                .res_top
                .res_logo
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.66 18.72"><g><path d="M15,7H5.05L4.21,4.67h9.92Zm8.85,9.37H18.3l-.84-2.33h-5l.84,2.33h2.49l.82,2.29v0h8.8l0-.08h0l5-14H28ZM19.92,0l.84,2.34H24l-2.86,8L17.41,0H0L.84,2.34H15.76L20,14h2.31L26.44,2.34h7.38L34.66,0Zm-4.1,9.38H8.41l.84,2.34h7.41Z"/></g></svg>
                    p Векстрейд
                .res_btm
                    .res_btm_cart
                        img(src=require("../../components/images/Lobby4/cart.png"), alt="")
                    .res_btm_border1
                    .res_btm_info
                    .res_btm_border2
                    .res_btm_tabl
                        table
                            tr
                                td
                                    p Номер векселя
                                td
                                    p Результат
                            tr 
                                td
                                td
                            tr
                                td
                                td
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                            tr 
                                td
                                td
                            tr
                                td
                                td
                    .res_btm_border2
                    .res_btm_btn
                        .res_btn_l
                            img.btn_left_a(src=require("../../components/images/Lobby4/buttons_before/L4_left.png"), alt="")
                            img.btn_left_b(src=require("../../components/images/Lobby4/buttons_active/L4_left_a.png"), alt="")
                        .res_btn_page
                            p 60
                        .res_btn_r
                            img.btn_right_a(src=require("../../components/images/Lobby4/buttons_before/L4_right.png"), alt="")
                            img.btn_right_b(src=require("../../components/images/Lobby4/buttons_active/L4_right_a.png"), alt="")
            .footer
                .ftr_top
                    img.panel(src=require("../../components/images/Lobby4/panel.png"), alt="")
                    .btn_exit
                        img.btn_exit_a(src=require("../../components/images/Lobby4/buttons_before/L4_exit.png"), alt="")
                        img.btn_exit_b(src=require("../../components/images/Lobby4/buttons_active/L4_exit_a.png"), alt="")
                    .btn_help
                        img.btn_help_a(src=require("../../components/images/Lobby4/buttons_before/L4_help.png"), alt="")
                        img.btn_help_b(src=require("../../components/images/Lobby4/buttons_active/L4_help_a.png"), alt="")
                    .btn_bonus
                .ftr_btm
                    .tbl_info
                        p Выберете анимацию
                    .tbl_score
                        p 0,00
                    .tbl_deposit
                        p 5000

        
